.one{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.two{
    background-color: green;
    width: 100px;
    height: 100px;
}

section{
    display: flex;
    width: 100%;
}

body{
    background-color: #c1c1c1;
}